page-compOffApply{
    ion-card {
        position: relative;
        text-align: center;
        font-size: 6px !important;
        padding: 0px !important;
        margin: 0px !important;
        min-height: 127px !important;
        width: calc(100% - -3px) !important;
        background-color: rgb(43, 34, 43) !important;
        }
        ion-title{
          font-size:6px !important;
        }
        ion-header {
          left: 0;
          top: 0;
          position: absolute;
          z-index: 10;
          display: block;
          width: 100%;
          background-color: #d6b1b1 !important;
      }
      .iconCss {
        display: inline-block;
        font-size: 1.1em;
        color: whitesmoke;
      }
      .card-content-md {
        padding: 29px 16px;
        font-size: 1.4rem;
        line-height: 1.5;
    }
      .card-title-md {
        display: block;
        font-size: 1.4rem;
        line-height: 1.2;
        color: whitesmoke;
        margin: 2px 0;
        padding: 8px 0;
        font-weight: 600;
    }
        .title{
          text-align: center;
          
        }
        .logout{
          text-decoration:white;
          color: black;
        }
        .dash
        {
          text-decoration: none;
        }
     
}