<ion-header>
  <page-header [headerData]='headerData'></page-header>
</ion-header>


<ion-content has-header="true" padding="true">
  <ion-item-divider ion-item light no-lines>
    Available Leaves
    <ion-icon item-right></ion-icon>
  </ion-item-divider>
  <ion-list>
    <ion-item *ngIf="!empInfo.isTrainee">
      <ion-row>
        <ion-col width-50>
          Sick Leave
        </ion-col>
        <ion-col width-50 text-right> {{userleave.sickLeave}} </ion-col>
      </ion-row>
    </ion-item>
    <ion-item *ngIf="!empInfo.isTrainee">
      <ion-row>
        <ion-col width-50>
          Casual Leave </ion-col>
        <ion-col width-50 text-right>{{userleave.casualLeave}}</ion-col>
      </ion-row>
    </ion-item>

    <ion-item *ngIf="!empInfo.isTrainee">
      <ion-row>
        <ion-col width-50>
          Privilege Leave </ion-col>
        <ion-col width-50 text-right>{{userleave.privilegeLeave}}</ion-col>
      </ion-row>
    </ion-item>

    <ion-item *ngIf="!empInfo.isTrainee">
      <ion-row>
        <ion-col width-50>Condolence Leave </ion-col>
        <ion-col width-50 text-right> {{userleave.condolenceLeave}}</ion-col>
      </ion-row>
    </ion-item>

    <ion-item *ngIf="!empInfo.isTrainee && empInfo.gender==2">
      <ion-row>
        <ion-col width-50>Maternity Leave </ion-col>
        <ion-col width-50 text-right>{{userleave.maternityLeave}}</ion-col>
      </ion-row>
    </ion-item>

    <ion-item *ngIf="empInfo.isTrainee">
      <ion-row>
        <ion-col width-50>Trainee Leave </ion-col>
        <ion-col width-50 text-right>{{userleave.traineeLeave}}</ion-col>
      </ion-row>
    </ion-item>

    <ion-item *ngIf="!empInfo.isTrainee">
      <ion-row>
        <ion-col width-50>Perimission </ion-col>
        <ion-col width-50 text-right>{{userleave.permission}}</ion-col>

      </ion-row>
    </ion-item>
  </ion-list>
  <ion-item-divider ion-item light no-lines>
    General Information
    <ion-icon item-right></ion-icon>
  </ion-item-divider>
  <ion-list>
    <ion-item>
      <ion-label width-50>Applied For </ion-label>
      <ion-input disabled="true" [(ngModel)]="empInfo.firstName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label width-50>Employee Number</ion-label>
      <ion-input disabled="true" [(ngModel)]="empInfo.employeeNumber"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label width-50>Department </ion-label>
      <ion-input disabled="true" [(ngModel)]="empInfo.departmentName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label width-50>Division </ion-label>
      <ion-input disabled="true" [(ngModel)]="empInfo.divisionName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        <span>Type Of Leave </span>
      </ion-label>
      <ion-select [(ngModel)]="selectedTypeOfLeave" (ionChange)="onLeaveTypeChange()">
        <ion-option *ngFor="let objType of leaveType" [value]="objType">{{objType.leaveTypeName}}
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Attendance Code </ion-label>
      <ion-select [(ngModel)]="selectedLeaveCode" (ionChange)="getLeaveTypesAcronyms()">
        <ion-option *ngFor="let objCode of leaveCode" [value]="objCode">{{objCode.acronymsName}}
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Leave descriptions</ion-label>
      <ion-textarea [ngStyle]="{'height':'90px'}" disabled="true" [(ngModel)]="selectedLeaveCode.acronymsDescription"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label *ngIf="!items.toDatevisiblity">*Date</ion-label>
      <ion-label *ngIf="items.toDatevisiblity">*From Date</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="items.fromDate" (ionChange)="fromDateChanged()" name="dpDate"></ion-datetime>
    </ion-item>
    <ion-item *ngIf="items.fromFulldayvisiblity">
      <ion-label>
        *Full/Half Day 1
      </ion-label>
      <ion-select [disabled]="items.fromFulldayDisabled" [(ngModel)]="items.fromFullorHalf" (ionChange)="changed()">
        <ion-option value="1">
          Full day
        </ion-option>
        <ion-option value="0">
          Half day
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="items.fromMorningVisiblity">
      <ion-label>
        *Morning/Afternoon
      </ion-label>
      <ion-select [disabled]="items.fromMorningDisabled" [(ngModel)]="items.fromMorningorAfternoon" (ionChange)="changed()">
        <ion-option value="1">
          Morning
        </ion-option>
        <ion-option value="0">
          Afternoon
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="items.toDatevisiblity">
      <ion-label>*To Date</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="items.toDate" (ionChange)="fromDateChanged()" name="dpDate"></ion-datetime>
    </ion-item>
    <ion-item *ngIf="items.toFulldayVisibilty">
      <ion-label>*Full/Half Day</ion-label>
      <ion-select [disabled]="items.toFulldayDisabled" [(ngModel)]="items.toFullorHalf" (ionChange)="changed()">
        <ion-option value="1">
          Full day
        </ion-option>
        <ion-option value="0">
          Half day
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="items.toMorningVisiblity">
      <ion-label>
        *Morning/Afternoon
      </ion-label>
      <ion-select [disabled]="items.toMorningDisabled" [(ngModel)]="items.toMorningorAfternoon" (ionChange)="changed()">
        <ion-option value="1">
          Morning
        </ion-option>
        <ion-option value="0">
          Afternoon
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="selectedTypeOfLeave.id == 5">
      <ion-label>shift time</ion-label>
      <ion-input disabled="true">{{selectedLeaveCode.fromTime}} to {{selectedLeaveCode.toTime}}</ion-input>
    </ion-item>

    <ion-item *ngIf="selectedTypeOfLeave.id == 5">
      <ion-label>In Time</ion-label>
      <ion-datetime displayFormat="hh:mm A" pickerFormat="h mm A" name="inTime" [(ngModel)]="items.inTime"></ion-datetime>
    </ion-item>
    <ion-item *ngIf="selectedTypeOfLeave.id == 5">
      <ion-label>out Time</ion-label>
      <ion-datetime displayFormat="hh:mm A" pickerFormat="h mm A" name="outTime" [(ngModel)]="items.outTime"></ion-datetime>
    </ion-item>
    <ion-item *ngIf="selectedTypeOfLeave.id == 5">
      <ion-label>On Duty Location</ion-label>
      <ion-input type="text" name="txtLoc"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Comments :</ion-label>
      <ion-textarea class='comments' [(ngModel)]="items.comments" placeholder='Comments'></ion-textarea>
    </ion-item>
  </ion-list>
  <div class='button_action'>
    <button on-tap='getProb()' class="button icon-left ion-checkmark-round button-small button-balanced">
      Apply
    </button>
  </div>
</ion-content>
