<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <a ion-button icon-only href="#/dash">
        <ion-icon name="arrow-back"></ion-icon>
      </a>
    </ion-buttons>
    <ion-title>
      Approval List
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openModal()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-tabs class="tabs-top">

    <!-- Tab 1 -->
    <ion-tab title="HO" href="#">

      <form id="list-form4">
        <ion-searchbar placeholder="" name="" id="list-search2"></ion-searchbar>
      </form>


      <ion-list>
        <div *ngFor="let item of pendingList;let i=index">
          <ion-item>

            <span (click)="editDetail($event, item)">
              <h3>{{item.appliedforName}} - {{item.appliedforNumber}}</h3>
              <p>Request date : {{item.createdDate}}</p>
              <p>{{item.leaveCodeDescription}}</p>
              <p>Reason :{{item.appliedReason}}</p>
            </span>

          </ion-item>
        </div>

      </ion-list>
    </ion-tab>
    <!-- Tab 2 -->
    <ion-tab title="Plant" href="#">
      <form id="list-form4">
        <ion-searchbar placeholder="" name="" id="list-search2"></ion-searchbar>
      </form>


      <ion-list>
        <div *ngFor="let item of pendingList;let i=index">
          <ion-item>

            <span (click)="editDetail($event, item)">
              <h3>{{item.appliedforName}} - {{item.appliedforNumber}}</h3>
              <p>Request date : {{item.createdDate}}</p>
              <p>{{item.leaveCodeDescription}}</p>
              <p>Reason :{{item.appliedReason}}</p>
            </span>

          </ion-item>
        </div>

      </ion-list>
    </ion-tab>
  </ion-tabs>
</ion-content>