<ion-header>
  <page-header [headerData]='headerData'></page-header>
</ion-header>
<ion-content has-header="true" padding="true">
  <ion-item-divider ion-item light no-lines>
    Approval status
    <ion-icon item-right></ion-icon>
  </ion-item-divider>
  <ion-list>
    <ion-item>
      <ion-label>Approval</ion-label>
      <ion-select class='action_select' [(ngModel)]="Item.approvalStatus">
        <ion-option selected="selected" value="0">Pending</ion-option>
        <ion-option value="1">Approved</ion-option>
        <ion-option value="2">Disapproved</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-item-divider ion-item light no-lines>
    General Information
    <ion-icon item-right></ion-icon>
  </ion-item-divider>
  <ion-list>
    <ion-item>
      <ion-label>Applied for :</ion-label>
      <ion-input disabled="true" [value]="Item.appliedforName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Employee Number :</ion-label>
      <ion-input disabled="true" [value]="Item.appliedforNumber"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Department :</ion-label>
      <ion-input disabled="true" [value]="Item.appliedforDepartment"></ion-input>
    </ion-item>
    <ion-item *ngIf="Item.leaveCodeDescription!=undefined">
      <ion-label>Description :</ion-label>
      <ion-input disabled="true" [value]="Item.leaveCodeDescription"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>From :</ion-label>
      <ion-input disabled="true" [value]="Item.fromDate | date:'dd-MMM-yyyy'"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>To :</ion-label>
      <ion-input disabled="true" [value]="Item.toDate | date:'dd-MMM-yyyy'"></ion-input>
    </ion-item>
    <ion-item *ngIf="Item.totaldays!=undefined">
      <ion-label>TotalDays :</ion-label>
      <ion-input disabled="true" [value]="Item.totaldays"></ion-input>
    </ion-item>
    <ion-item *ngIf="Item.appliedReason!=undefined">
      <ion-label>Applied Reason :</ion-label>
      <ion-input disabled="true" [value]="Item.appliedReason"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Comments :</ion-label>
      <ion-textarea class='comments' [(ngModel)]="Item.comments" placeholder='Comments'></ion-textarea>
    </ion-item>
  </ion-list>

  <div class='button_action'>
    <button (click)='update($event,Item)' class="button icon-left ion-checkmark-round button-small button-balanced">
      Update
    </button>
    <button (click)="cancel($event)" class="button icon-left ion-close-round button-small button-assertive">
      Cancel
    </button>
  </div>
