page-approval
{
        ion-card {
         position: relative;
         text-align: center;
         font-size: 6px !important;
         padding: 0px !important;
         margin: 0px !important;
         min-height: 127px !important;
         width: calc(100% - -3px) !important;
         background-color: rgb(43, 34, 43) !important;
         }
         ion-title{
           font-size:6px !important;
         }
         ion-header {
           left: 0;
           top: 0;
           position: absolute;
           z-index: 10;
           display: block;
           width: 100%;
           background-color: #d6b1b1 !important;
       }
       .iconCss {
         display: inline-block;
         font-size: 2.2em;
       }
       .card-content-md {
         padding: 29px 16px;
         font-size: 1.4rem;
         line-height: 1.5;
     }
       .card-title-md {
         display: block;
         font-size: 1.4rem;
         line-height: 1.2;
         color: whitesmoke;
         margin: 2px 0;
         padding: 8px 0;
         font-weight: 600;
         text-align: center !important;
     }
         .title{
           text-align: left;
           
         }
         .logout{
           text-decoration:white;
           color: black;
         }
         .dash
         {
           text-decoration: none;
         }
         .detail_title
         {
         padding-left: 5px;
         font-weight: bold;
         color: gray;
         font-size: 16px;
         }
        
         .result
         {
          font-weight: 600;
      }
      
.approvallist
         {
          // padding: 2px;
          line-height: 4;
          list-style: 0;
          list-style-type: none;
      }
      
      .button_action
      {
        text-align: center;
      }
      
      .button_action button
      {
      margin: 10px 10px;
      padding: 5px;
      font-weight: bold;
      }
      
      .comments
      {
        border: 1px solid gray;
        border-radius: 5px;
        margin: 10px auto;
        padding: 5px;
        width: 90%;
        height: 60px;
      }

}