<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <a ion-button icon-only href="#/dash">
        <ion-icon name="arrow-back"></ion-icon>
      </a>
    </ion-buttons>
    <ion-title>
      Approval List
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openModal()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <!-- <ion-tabs selectedIndex="1">
    <ion-tab   tabTitle="Show Modal">
      <ion-list>
        <div *ngFor="let item of pendingList;let i=index">
          <ion-item>
    
            <span (click)="editDetail($event, item)">
              <h3>{{item.appliedforName}} - {{item.appliedforNumber}}</h3>
              <p>Request date : {{item.createdDate}}</p>
              <p>{{item.leaveCodeDescription}}</p>
              <p>Reason :{{item.appliedReason}}</p>
            </span>
    
          </ion-item>
        </div>
    
      </ion-list>
    </ion-tab>
    <ion-tab  tabTitle="Show Modal">
      <ion-list>
        <div *ngFor="let item of pendingList;let i=index">
          <ion-item>
    
            <span (click)="editDetail($event, item)">
              <h3>{{item.appliedforName}} - {{item.appliedforNumber}}</h3>
              <p>Request date : {{item.createdDate}}</p>
              <p>{{item.leaveCodeDescription}}</p>
              <p>Reason :{{item.appliedReason}}</p>
            </span>
    
          </ion-item>
        </div>
    
      </ion-list>
    </ion-tab>
  </ion-tabs> -->
  <form id="list-form4">
    <ion-searchbar placeholder="" name="" id="list-search2"></ion-searchbar>
  </form>
  <ion-list>
    <div *ngFor="let item of pendingList;let i=index">
      <ion-item>

        <span (click)="editDetail($event, item)">
          <h3>{{item.appliedforName}} - {{item.appliedforNumber}}</h3>
          <p>Request date : {{item.createdDate}}</p>
          <p>{{item.leaveCodeDescription}}</p>
          <p>Reason :{{item.appliedReason}}</p>
        </span>
      </ion-item>
    </div>
  </ion-list>
</ion-content>