<ion-header>
  <page-header [headerData]='headerData'></page-header>
</ion-header>
<ion-content>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <div *ngIf="(auth.isplantteamleader && Item !='Pre-compOff')">
      <div padding>
        <ion-segment [(ngModel)]="segmentVal" (ionChange)="segmentChange()">
          <ion-segment-button value="1">
            HO Request
          </ion-segment-button>
          <ion-segment-button value="0">
            Plant Request
          </ion-segment-button>
        </ion-segment>
      </div>
      <div [ngSwitch]="segmentVal">
        <ion-list *ngSwitchCase="1">
          <div *ngFor="let item of pendingList;let i=index">
            <ion-item>
              <span (click)="editDetail($event, item)">
                <h3>{{item.appliedforName}} - {{item.appliedforNumber}}</h3>
                <p>Request date : {{item.createdDate}}</p>
                <p>{{item.leaveCodeDescription}}</p>
                <p>Reason :{{item.appliedReason}}</p>
              </span>
            </ion-item>
          </div>
          <div *ngIf="pendingList.length==0">
            <ion-item>
              <h3>No data found</h3>
            </ion-item>
          </div>
        </ion-list>
        <ion-list *ngSwitchCase="0">
          <div *ngFor="let item of pendingList;let i=index">
            <ion-item>
              <span (click)="editDetail($event, item)">
                <h3>{{item.appliedforName}} - {{item.appliedforNumber}}</h3>
                <p>Request date : {{item.createdDate}}</p>
                <p>{{item.leaveCodeDescription}}</p>
                <p>Reason :{{item.appliedReason}}</p>
              </span>
            </ion-item>
          </div>
          <div *ngIf="pendingList.length==0">
            <ion-item>
              <h3>No data found</h3>
            </ion-item>
          </div>
        </ion-list>
      </div>
    </div>
    <div *ngIf="(!auth.isplantteamleader || Item == 'Pre-compOff')">
      <ion-list>
        <div *ngFor="let item of pendingList;let i=index">
          <ion-item>
            <span (click)="editDetail($event, item)">
              <h3>{{item.appliedforName}} - {{item.appliedforNumber}}</h3>
              <p>Request date : {{item.createdDate | date:'dd-MM-yyyy hh:mm a'}}</p>
              <p>{{item.leaveCodeDescription}}</p>
              <p>Reason :{{item.appliedReason}}</p>
            </span>
          </ion-item>
        </div>
        <div *ngIf="pendingList.length==0">
          <ion-item>
            <h3>No data found</h3>
          </ion-item>
        </div>
      </ion-list>
    </div>

    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
