<ion-header>
  <page-header [headerData]='headerData'></page-header>
</ion-header>
<ion-content has-header="true" padding="true">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list>
        <ion-item>
            <div class="control-btn">
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-default pre-btn lft-btn" (click)="prevYear()">Previous Year</button>
                    <button type="button" class="btn btn-default mid-btn" (click)="currentYear()">Current Month</button>
                    <button type="button" class="btn btn-default  pre-btn rgt-btn" (click)="nextYear()">Next Year</button>
                </div>
            </div>
            <div class="year-block">
                <ul class="year-link">

                    <li *ngFor="let displayyears of displayYears">
                        <a style="padding: 30px,30px,30px,30px; font-size: 18px" [ngClass]="{slectedYear: displayyears==selectedYearValue}" (click)="selectedYear(displayyears,this)">{{displayyears}}</a>
                    </li>

                </ul>
            </div>
            <div class="month-block">
                <ul class="month-link">
                    <li>
                        <a style="padding: 30px,30px,30px,30px; font-size: 18px" (click)="prevMonth()">
                            < Prev </a>
                    </li>
                    <li *ngFor="let allmonths of displayMonthList let i=index">
                        <a href="javascript:void(0)" [ngClass]="{slectedYear: MonthName==allmonths.monthName}" (click)="getDaysArray(allmonths,true)"
                            style="font-size: 16px">{{allmonths.monthName}}</a>
                    </li>
                    <li>
                        <a style="padding: 30px,30px,30px,30px; font-size: 18px" (click)="nextMonth()">
                            Next ></a>
                    </li>
                </ul>
            </div>
            <!-- <div class="week-block">
                <ul class="week-link" ng-repeat="weekcounts in WeekCount">
                    <li>
                        <a href="javascript:void(0)" ng-click="getDaysFromWeek(this.$index,weekcounts.weekName,true)"
                           ng-class="{slectedYear: weekcounts.weekName==SelectedWeekName}"
                           style="padding: 30px,30px,30px,30px; font-size: 14px">{{weekcounts.weekName}}</a>
                    </li>
                </ul>
            </div> -->
            <div class="demo-one">
                <div class="control-group">
                    <div class="controls">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                            <label class="control-label">No of working days</label>
                            <!--</div>
                            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">-->
                            <label class="control-label">{{working}}</label>
                        </div>
                    </div>
                    <div class="controls">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                            <label class="control-label">No of Worked days</label>
                            <!--</div>
                            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">-->
                            <label class="control-label">{{worked}}</label>
                        </div>
                        <!--</div>
                        <div class="controls">-->
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                            <label class="control-label">Loss of Pay</label>
                            <!-- </div>
                             <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">-->
                            <label class="control-label">{{LOP}}</label>
                        </div>
                    </div>
                    <br />
                </div>
                <div>
                    <label class="control-label">{{monthYearDisplay}}</label>
                </div>
            </div>
            <table *ngIf="attendanceModel.length>0" class="demo-one-table">
                <tbody>
                    <tr>
                        <th *ngFor="let daysname of daysName">{{daysname}}</th>
                    </tr>
                    <tr *ngFor="let dummyObj of wkCountArray let i = index" class="table-striped">
                        <td *ngIf="SundayDate[i]">
                            {{SundayDate[i].Date}}
                            <br />
                            <div [ngStyle]="{'background-color': SundayDate[i].ColorCode}">{{SundayDate[i].Code}}</div>
                        </td>
                        <td *ngIf="MondayDate[i]">
                            {{MondayDate[i].Date}}
                            <br />
                            <div [ngStyle]="{'background-color': MondayDate[i].ColorCode}">{{MondayDate[i].Code}} </div>
                        </td>
                        <td *ngIf="TuesDayDate[i]">
                            {{TuesDayDate[i].Date}}
                            <br />
                            <div [ngStyle]="{'background-color': TuesDayDate[i].ColorCode}">{{TuesDayDate[i].Code}}</div>
                        </td>
                        <td *ngIf="WednesDayDate[i]">
                            {{WednesDayDate[i].Date}}
                            <br />
                            <div [ngStyle]="{'background-color': WednesDayDate[i].ColorCode}">{{WednesDayDate[i].Code}}</div>
                        </td>
                        <td *ngIf="ThursDayDate[i]">
                            {{ThursDayDate[i].Date}}
                            <br />
                            <div [ngStyle]="{'background-color': ThursDayDate[i].ColorCode}">{{ThursDayDate[i].Code}}</div>
                        </td>
                        <td *ngIf="FirDayDate[i]">
                            {{FirDayDate[i].Date}}
                            <br />
                            <div [ngStyle]="{'background-color': FirDayDate[i].ColorCode}">{{FirDayDate[i].Code}}</div>
                        </td>
                        <td *ngIf="SaturDayDate[i]">
                            {{SaturDayDate[i].Date}}
                            <br />
                            <div [ngStyle]="{'background-color': SaturDayDate[i].ColorCode}">{{SaturDayDate[i].Code}}</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </ion-item>
    </ion-list>
</ion-content>
